[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-zimpedia
Exec=harbour-zimpedia
Name=Zimpedia

[X-Sailjail]
Permissions=Internet;RemovableMedia;Documents;Downloads;WebView
OrganizationName=org.mkiol
ApplicationName=zimpedia
